{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1 align = center>PROJECTS</h1>

    <table class="table table-dark">
        <thead>
            <tr align="center">
                <th>Id</th>
                <th>Creator</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr align="center">
                <td>{{ project.id }}</td>
                <td>{{ project.creator.name }}</td>
                <td>{{ project.name }}</td>
                <td>
                    <a href="{{ path('projects_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('projects_new') }}">Create new</a>
{% endblock %}
