{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ ticket.creator.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ticket.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                {% for tag in ticket.tags %}
                {{ tag.name }}&ensp;
                {% endfor %}
              </td>
            </tr>
            <tr>
                <th>File_name</th>
                <td>{{ ticket.fileName }}</td>
            </tr>
          </tbody>
    </table>

    <!-- <a href="{{ path('tickets_show', {'id': ticket.id}) }}">back to list</a> -->

    <a class="btn btn-success" href="{{ path('tickets_edit', {'id': ticket.id}) }}">EDIT</a>

    {{ include('tickets/_delete_form.html.twig') }}

    <h1 align="center">
    Comments
    </h1>

    {% for comment in ticket.comments %}

    <div class="my-3">
    <div align="center" class="mx-auto" style="width: 400px;">
    <div align="justify">
        <p>{{ ticket.creator.name }} wrote a comment: {{ comment.text }}</p>
        <p align="right"><a class="btn btn-outline-secondary btn-sm" href="{{ path('comment_delete', {'id': comment.id, 'ticket_id': ticket.id}) }}" role="button">Delete</a></p>
    </div>
    </div>
    </div>
    {% endfor %}
    <div align="center" class="mx-auto" style="width: 400px;">
      <h3>{{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}</h3>
    <div align="right" class="mb-5">
        <button  class="btn btn-success">{{ button_label|default('leave a comment') }}</button>
    </div>
{{ form_end(comment_form) }}
    </div>

{% endblock %}
